menuconfig DIGITAL_TO_VOLT    bool "Digital to Volt"
    default y
    help
      Enable the Digital to Volt module.


if DIGITAL_TO_VOLT


config DIGITAL_TO_VOLT_VREF_MV
    int "Reference voltage in mV"
    default 3300
    help
      Reference voltage used for digital-to-voltage conversion.


config DIGITAL_TO_VOLT_RESOLUTION_BITS
    int "ADC resolution"
    range 6 16
    default 12
    help
      Maximum digital value corresponding to the reference voltage.


endif
